*{
	padding: 0;
	margin: 0;
}

body{
	width: 960px;
	min-height: 1024px;
	margin: 0 auto;
	background-color: grey;
}

a{
	text-decoration: none;
	color: black;
}


ul{
	list-style: none;
}


/* 头部 */
.header{
	width: 100%;
	height: 300px;
	background-color: blue;	
}

/* 导航栏 */
.nav{
	height: 50px;
	width: 100%;
	background-color: red;
}
.nav_first{
	line-height: 50px;
}
.nav_first>li{
	background-color: grey;
	cursor: pointer;
	width: 24.6%;
	display: inline-block;
	text-align: center;
	/*position: relative;*/
	/*transition: all .3s;*/
}
.nav_first>li:hover~li{
	background-color: orange;
}
.nav_first>li li{
	border-bottom: 1px solid yellow;
	width: 100%;
	display: none;	
	/*position: absolute;*/
	float: left;
}
.nav_first>li li:first-child{
	border-top: 1px solid yellow;
}
.nav_first>li:hover li{
	display: block;	
}
.nav_first>li li:hover{
	background-color: red;
}




/* 内容块 */
.content{
	width: 100%;
	min-height: 500px;
	background-color: yellow;
}

/* 底部 */
.footer{
	width: 100%;
	height: 280px;
	background-color: blue;
}